<div class="error-message">
    <h2 class="error-message-title">Connection Error!</h2>
    <p class="error-message-content">Please check if the URL is valid.</p>
    <span class="error-message-reminder">*URL should start with http://</span>
</div>
